.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  overflow: hidden;
  box-shadow: 0px 5px 5px -5px #303030;
}

.header__title {
  color: red;
  font-size: 1.5rem;
}

.header__navigation-list {
  display: none;
}

.header__navigation-item {
  padding: 0 1rem;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.header__navigation-item:hover {
  color: red;
  transition: 0.3s ease-in-out;
}

.header__button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 16px;
  border-radius: 32px;
  background: linear-gradient(-30deg, green, rgb(123, 231, 123));
  box-shadow: 1px 1px 3px 1px #303030;
  cursor: pointer;
  z-index: 1;
}

.header__button-text {
  display: none;
}

.header__toggle-menu {
  display: block;
}

.mobile-menu {
  display: block;
  visibility: visible;
  position: fixed;
  width: 0px;
  height: 0px;
  padding-left: 0px;
  line-height: 3rem;
  text-align: left;
  background-color: red;
  color: white;
  border-radius: 0 0 0 0;
  box-shadow: 0px 5px 5px -5px #303030;
  overflow: hidden;
  z-index: 1;
  transition: height 0.5s ease-in-out, width 0.5s ease-in-out,
    border-radius 0.5s ease-in-out;
}

.mobile-menu.is-open {
  height: 300px;
  width: 100%;
  border-radius: 0 0 300px 0;
}

.mobile__navigation-item {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin-left: 20px;
}

@media (min-width: 796px) {
  .header__navigation-list {
    display: flex;
    text-transform: uppercase;
    list-style-type: none;
    padding-top: 1rem;
  }

  .header__button {
    position: relative;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
  }

  .header__button-text {
    display: inline-block;
    padding: 0 5px;
  }

  .header__toggle-menu {
    display: none;
  }

  .mobile-menu--is-open {
    display: none;
  }
}
