.team__container {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 3em;
  font-size: 1.25rem;
  background-color: #fff;
  color: #303030;
}

.team__title {
  display: inline;
  border-left: 0.5rem solid var(--primary-red);
  padding-left: 0.5rem;
}

.team-members__container {
  max-width: 1600px;
  margin: 40px auto;
  padding: 1rem 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  column-gap: 20px;
  row-gap: 4rem;
  justify-content: center;
}

@media (max-width: 972px) {
  .team-members__container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 30px;
  }
}
