.card__container {
  height: 350px;
  width: 23.5%;
  max-width: 295px;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 0.35rem solid red;
  box-shadow: var(--box-shadow);
  box-shadow: 0px 4px 6px 3px rgb(0, 0, 0, 0.05), 0px 0px 12px 6px rgb(0, 0, 0, 0.09);
  z-index: 0;
  background-color: #fff;
  position: relative;
}

.card__content {
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
}

.card__icon-container {
  background: red;
  clip-path: circle(80px at center 0);
  padding-top: 1rem;
}

.card__icon {
  color: white;
  margin-bottom: 2rem;
  transform: scale(0.75)
}

.card__title {
  color: black;
  margin: 1rem auto;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.card__title::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: red;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 1s ease-in-out;
}
.card__title-scroll {
  margin: 1rem auto;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.card__title-scroll::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  border-radius: 2px;
  background-color: red;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 1s ease-in-out;
}

.card__subtitle {
  color: #303030;
  margin-top: 2rem;
}
