.contact-form__container {
  padding-top: 4rem;
  padding-bottom: 3em;
  background-color: #fff;
}

.contact-form {
  max-width: 1024px;
  padding: 2rem 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-form > div {
  vertical-align: top;
}
