.hero {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.8)),
    url(../../public/images/Hero-image.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  color: white;
  /* padding: 80px 35px; */
}

.hero__heading {
  width: 800px;
  text-align: center;
  margin: auto 30px;
}

.hero__title {
  margin-bottom: 1rem;
  font-size: 4rem;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 400;
}

.hero__dynamic-product:before {
  content: '';
  margin-bottom: 1rem;
  padding-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 4px solid var(--primary-red);
  border-radius: 0.1rem;
  animation: switchProduct infinite 12s;
}

@keyframes switchProduct {
  0% {
    content: "Allarme";
  }
  20% {
    content: "Impianto di casa";
  }
  40% {
    content: "Videocitofono";
  }
  60% {
    content: "Cancello";
  }
  80% {
    content: "Impianto industriale";
  }
  100% {
    content: "Allarme";
  }
}

.hero__button {
  background-color: #e20613;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  /* transition: 0.3s ease-in-out; */
}

.hero__button:active,
.hero__button:focus,
.hero__button:hover {
  outline: none;
  background-color: #af040e;
  transition: 0.3s ease-in-out;
}

.hero__image-container {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 3px #303030; */
}

.hero__image {
  border-radius: 10px;
}
