.button {
  width: 130px;
  padding: calc(0.8rem - 1px) calc(1rem - 1px);
  color: #ffffff !important;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  background: cadetblue;
  outline: none;
  cursor: pointer;
}

.submit {
  background-color: green;
  box-shadow: 0px 4px 4px grey;
  transform: scale(1);
  transition: 0.1s linear;
}

.submit:hover {
  background-color: darkgreen;
  box-shadow: 0px 2px 2px grey;
  transform: scale(0.99);
  transition: 0.1s linear;
}

.primary {
  background: red;
  box-shadow: 0px 4px 4px grey;
  transform: scale(1);
  transition: 0.1s linear;
}

.primary:hover {
  box-shadow: 0px 2px 2px grey;
  transform: scale(0.99);
  transition: 0.1s linear;
}

.button:active,
.button:focus,
.button:hover {
  outline: none;
}

.outlined {
  border: 3px solid red;
  color: red !important;
  background-color: white;
}

.outlined:hover {
  transform: scale(0.99);
  transition: 0.1s linear;
}

.icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .button {
    width: 180px;
    padding: calc(1rem - 1px) calc(1.25rem - 1px);
    font-size: 1rem;
  }
}
