.footer {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 4em;
  row-gap: 2em;
  color: #ccc;
  padding: 3rem;
  background-color: #303030;
}

.footer p {
  padding: 0.5rem;
}

/* .footer__company-info {
  margin: 0 auto;
}
.footer__company-social {
  margin: 0 auto;
} */

.footer__privacy-cookie {
  /* margin: 0 auto; */
  cursor: pointer;
}

.footer__social-icon {
  margin-left: 1rem;
  cursor: pointer;
}
