.footer {
  margin-top: 2rem;
  display: flex;
  color: #ccc;
  padding: 3rem;
  background-color: #303030;
  justify-content: center;
}

.footer p {
  padding: 0.5rem 0;
}

.footer__company-info {
  margin-top: 2rem;
  padding: 0 1rem;
}

.footer__company-social p {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0 1rem;
}

.footer__privacy-cookie {
  cursor: pointer;
  margin-top: 2rem;
  padding: 0 1rem;
}

.footer__social-icon {
  cursor: pointer;
  margin-right: 1rem;
}
