.footer {
  color: #ccc;
  padding: 3rem 5%;
  background-color: #303030;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 4em;
  row-gap: 2em;
  margin: 0 auto;
  max-width: 1200px;
}

.footer__privacy-cookie {
  cursor: pointer;
}

.footer__social-icon {
  margin-left: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .footer__company-social {
    justify-self: center;
  }

  .footer__privacy-cookie {
    justify-self: end;
  }
}
