.cards__container {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}

@media screen and (min-width: 767px) {
  .cards__container {
    max-width: 967px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  .cards__container {
    min-width: 1280px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
}
