.cards-list__container {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;

  background-color: #eee;
  color: #303030;
  font-size: 1.25rem;
}

.cards-list__title {
  margin-top: -90px;
  padding-top: 90px;
}

.cards__container {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 80px;
  row-gap: 2rem;
  justify-content: center;
}

.card__container {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 1rem #000;
  z-index: 0;
  background-color: white;
}
