.cards-list__container {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #eee;
  color: #303030;
  font-size: 1.25rem;
}

.cards-list__title {
  margin-top: -90px;
  padding-top: 90px;
}

.cards__container {
  margin: 40px 10%;
  display: grid; /*per avere i child element a griglia*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* ripeti auto-fit con una larghezza minima della colonna di 300px e al max 1fr(action) a tutta larghezza */
  column-gap: 100px;
  row-gap: 2rem;
}

.card__container {
  text-align: center;
  padding: 3rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 1rem #000;
  z-index: 0;
  background-color: white;
}
