.timeline__item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline__item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline__item-content {
  background-color: #fff;
  position: relative;
  width: 400px;
  max-width: 80%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.timeline__item:nth-child(odd) .timeline__item-content {
  align-items: flex-start;
  text-align: left;
}

.timeline__item-content::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
}

.timeline__item:nth-child(odd) .timeline__item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline__item-content .timeline__item-tag {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
  letter-spacing: 1px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.timeline__item:nth-child(odd) .timeline__item-content .timeline__item-tag {
  left: auto;
  right: 5px;
}

.timeline__item-content .timeline__item-time {
  color: #777;
  font-size: 12px;
}

.timeline__item-content p {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

.timeline__item-content a {
  text-decoration: none;
  color: red;
  font-size: 14px;
}

.timeline__item-content a::after {
  content: ' >';
  font-size: 12px;
}

.timeline__item-content .timeline__item-circle {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid red;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  z-index: 1;
}

.timeline__item:nth-child(odd) .timeline__item-content .timeline__item-circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 767px) {
  .timeline__item-content,
  .timeline__item:nth-child(odd) .timeline__item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline__item-content .timeline__item-tag {
    width: calc(100% - 10px);
  }

  .timeline__item-content .timeline__item-time {
    margin-top: 20px;
  }

  .timeline__item-content p {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
    max-width: 250px;
  }

  .timeline__item-content a {
    text-decoration: underline;
  }

  .timeline__item-content a::after {
    display: none;
  }
}
