.button {
  width: 180px;
  padding: calc(1rem - 1px) calc(1.25rem - 1px);
  display: block;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  background: cadetblue;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px grey;
  transform: scale(1);
  transition: 0.1s linear;
}

.button:active,
.button:focus,
.button:hover {
  outline: none;
  box-shadow: 0px 2px 2px grey;
  transform: scale(0.99);
  transition: 0.1s linear;
}

.call {
  background-color: green;
}

.icon {
  margin-left: 10px;
}
