.button {
  background: cadetblue;
  padding: 1rem 1.5rem;
  color: #ffffff !important;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}

.button:active,
.button:focus,
.button:hover {
  outline: none;
  transform: scale(1.1);
}
