.container {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.services {
  margin: 30px 10%;
  display: grid; /*per avere i child element a griglia*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* ripeti auto-fit con una larghezza minima della colonna di 300px e al max 1fr(action) a tutta larghezza */
  column-gap: 100px;
  row-gap: 2rem;
}

.services__card {
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  box-shadow: 2px 3px 1rem #000;
  z-index: 0;
  background-color: white;
}

.title {
  margin-top: -90px;
  padding-top: 90px;
  font-size: 2rem;
  text-shadow: 0px 2px 2px #303030;
}
