.about__container {
  text-align: center;
  padding-top: 3em;
  padding-bottom: 3em;
  font-size: 1.25rem;
  background-color: rgb(255, 255, 170);
  color: #303030;
}

.about__grid-container {
  margin: 60px 10%;
  display: grid; /*per avere i child element a griglia*/
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* ripeti auto-fit con una larghezza minima della colonna di 300px e al max 1fr(action) a tutta larghezza */
  column-gap: 100px;
  row-gap: 2rem;
  text-align: left;
}

.about__image {
  box-shadow: 0 0 5px 5px grey;
}

.grid__item1 {
  order: 1;
  margin: auto 0;
}
.grid__item2 {
  height: fit-content;
  order: 2;
  box-shadow: 0 0 5px 5px grey;
}
.grid__item3 {
  height: fit-content;
  box-shadow: 0 0 5px 5px grey;
  order: 4;
}
.grid__item4 {
  order: 3;
  margin: auto 0;
}

.about__list {
  text-align: start;
  line-height: 2rem;
  margin: 1rem 10%;
}

@media (min-width: 912px) {
  .grid__item1 {
    order: 1;
  }
  .grid__item2 {
    order: 2;
  }
  .grid__item3 {
    order: 3;
  }
  .grid__item4 {
    order: 4;
  }
}
